<div class="mat-elevation-z4">
    <table [dataSource]="tableData" mat-table matSort>
        <ng-container matColumnDef="image">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="itemId"></th>
            <td *matCellDef="let element" mat-cell>
                <img [matTooltip]="element.description" src='{{getItemImage(element)}}'>
            </td>
        </ng-container>

        <ng-container matColumnDef="name">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="name">Name</th>
            <td *matCellDef="let element" mat-cell> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="count">
            <th *matHeaderCellDef mat-header-cell mat-sort-header="count">Count</th>
            <td *matCellDef="let element" mat-cell> {{element.count}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th *matHeaderCellDef mat-header-cell></th>
            <td *matCellDef="let element" mat-cell>
                <button (click)="openFfxiAh(element)" mat-icon-button>
                    <mat-icon>open_in_new</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="tableColumns" mat-header-row></tr>
        <tr *matRowDef="let row; columns: tableColumns;" mat-row></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of events"
                   pageSize="10"></mat-paginator>
</div>

